    <a class="btn btn-info pull-right white" href="#/add-post">Add New Post</a> 
    <ol class="row breadcrumb breadcrumb-arrow">
        <li><a href="#/home"><i class="glyphicon glyphicon-home"></i> Home</a></li>
        <li class="active"><span><i class="glyphicon glyphicon-article"></i> {{ post.slug }}</span></li>
    </ol>    
    <div class="row well">
        <div class="row">
            <div class="col-md-12">
                <h4 class="text-center">{{ post.title }}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h6>
                    <span class="glyphicon glyphicon-user"></span> <a href="#"> {{ post.author }}</a> | 
                    <span class="glyphicon glyphicon-calendar"></span> {{ post.publishedon | date : 'medium' }} |
                    <span class="glyphicon glyphicon-comment"></span> {{ post.comments.length }}
                </h6>                
                <a href="#/tags/{{tag}}" ng-repeat="tag in post.tags">
                    <span class="badge badge-info">{{tag}}</span>
                </a>                
            </div>
        </div>
        <p></p>
        <div class="row post-content">
            <div class="col-md-12">
                <div class="text-center">
                    <img ng-src="{{post.image}}" class="img-rounded">
                </div>
                <p ng-bind-html="post.description | unsafe"></p>
            </div>
        </div>
       
        <div class="media" >
            <h5>Comments ({{post.comments.length}})</h5>
            <hr class="spacing-10">
            <ul class="media-list">
              <li class="media" ng-repeat="comment in post.comments" ng-if="post.comments.length">                    
                <a class="pull-left" href="#">
                    <img class="media-object img-rounded" src="https://randomuser.me/api/portraits/med/men/{{$index}}.jpg">
                </a>
                <div class="media-body">
                    <h4 class="media-heading">{{comment.user}}</h4>
                    <small>{{comment.dateCreated | date : 'medium'}}</small>
                    <p>{{comment.message}}</p>
                </div>
              </li>
              <h6 ng-if="!post.comments.length">No comments yet, Be the first to comment on this post.</h6>
            </ul>    
        </div>  
    </div> 

    <!--comment form-->
    <div class="row" style="clear: both;">
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Leave a Comment</strong></div>
            <div class="panel-body">
                <form class="form-horizontal" name="commentForm">
                    <div class="form-group">
                        <label class="col-md-2 control-label">Name</label>
                        <div class="col-md-10">
                            <input type="text" class="form-control" placeholder="Name" ng-model="comment.user" required>
                        </div>
                    </div> 
                    <div class="form-group">
                        <label class="col-md-2 control-label">Comment</label>
                        <div class="col-md-10">
                            <textarea class="form-control" name="comment" rows="3" placeholder="Comment" ng-model="comment.message" required></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label"></label>
                        <div class="col-md-10">
                            <input type="button" class="btn btn-raised btn-info" value="Comment" ng-disabled="commentForm.$invalid" ng-click="postComment()"> 
                        </div>
                    </div>                        
                </form>              
            </div>   
        </div>
    </div>